
@*@using Proyecto_MAUI_Parte_2_Rick_And_Morty.Models
@using System.Net.Http.Json;*@

@*Para que la imagen sea resposive y las imagenes sea obaladas*@
<style>
    .responsive-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imgRedonda {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 160px;
        border: 10px solid #C3DD3F;
    }

</style>

@*Inserción del logo*@
<img class="mt-5 responsive-img" src="/imagenes/Rick_and_Morty_Logo.png" alt="Rick and Morty Logo" />

@*Buscador + botón*@
<div class="input-group mb-5 mt-5">
    <input class="form-control" type="text" placeholder="Select a character, location or episode" />
    <div>
        <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button">Search</button>
    </div>
</div>

@*Imagen del personaje*@
<img class="mt-5 imgRedonda" src="/imagenes/Rick.jpg" alt="Rick" />

@code {

}
